.container-topics {
  display: grid;
  gap: 30px;
  padding: 160px 0 30px;
  justify-content: center;
  grid-template-columns: 300px 932px;
  grid-template-rows: 100px 1fr;

  @media (max-width: 1300px) {
    grid-template-columns: 300px 432px;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 10px 30px;
  }
}

.question__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.authorization-container {
  padding: 120px 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}