.question {
  padding: 160px 0 80px;
}

.question__wrap {
  padding: 20px 15px 20px 15px;
  background-color: #111827;
  border: 1.5px solid #1f2937;
  border-radius: 16px;
  max-width: 700px;
}

.question__title {
  color: #facc15;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  margin: 0 0 20px;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.question__description {
  font-size: 18px;
  text-align: center;
  color: #9ca3af;
  margin: 0 0 30px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.question__form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 767px) {
    align-items: center;
  }
}

.question__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.question__form-label {
  font-size: 16px;
  color: #d1d5db;

  @media (max-width: 830px) {
    width: 300px;
    align-self: center;
  }
}

.question__form-input {
  height: 53px;
  padding-left: 20px;
  width: 640px;
  color: #ffffff;

  @media (max-width: 830px) {
    width: 300px;
    align-self: center;
  }
}

.question__form-textarea {
  resize: none;
  height: 130px;
  padding: 20px;
  width: 640px;
  color: #ffffff;

  @media (max-width: 830px) {
    width: 300px;
    align-self: center;
  }
}

.question__form-input,
.question__form-textarea {
  background-color: #0f172a;
  border: 1.5px solid #1f2937;
  border-radius: 16px;
  transition: border-color 0.3s linear;
}

.question__form-input:focus-visible,
.question__form-textarea:focus-visible,
.question__form-input:hover,
.question__form-textarea:hover {
  border-color: #2563eb;
}

.question__form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.question__form-submit,
.question__form-cancel {
  border: 1.5px solid #374151;
  background-color: transparent;
  color: #d1d5db;
  padding: 20px 40px;
  border-radius: 16px;
  font-size: 16px;
  transition: border-color 0.3s linear;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.question__form-submit:focus-visible,
.question__form-cancel:focus-visible,
.question__form-submit:hover,
.question__form-cancel:hover {
  border-color: #2563eb;
}
