.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.advantages__title {
  font-size: 40px;
  color: #ffffff;
  margin: 0;

  @media (max-width: 430px) {
    font-size: 25px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.advantages__card {
  border: 1px solid #1da1ff;
  border-radius: 16px;
  padding: 60px 20px;
  background-color: rgb(17, 24, 39, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  min-height: 100px;
  gap: 20px;

  @media (max-width: 650px) {
    width: 200px;
    min-width: auto;
    min-height: auto;
    padding: 30px 10px;
  }
}

.advantages__card--middle {
  border: 1px solid #ffd400;
}

.advantages__card-icon {
  color: #ffd400;
  width: 64px;
  height: 64px;

  @media (max-width: 650px) {
    width: 64px;
    height: 64px;
  }
}

.advantages__card-title {
  font-size: 20px;
  color: #ffd400;
  margin: 0;

  @media (max-width: 650px) {
    font-size: 17px;
    text-align: center;
  }
}

.advantages__card--middle .advantages__card-title {
  color: #1da1ff;
}

.advantages__card-description {
  font-size: 16px;
  color: #cccccc;
  margin: 0;

  @media (max-width: 650px) {
    font-size: 14px;
    text-align: center;
  }
}
