.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0 100px;
  gap: 30px;

  @media (max-width: 800px) {
    padding: 200px 0 100px;
  }

  @media (max-width: 650px) {
    gap: 20px;
    padding: 150px 0 50px;
  }
}

.hero__title {
  font-size: 50px;
  color: #ffd400;
  animation: title 0.6s ease-in forwards;

  @media (max-width: 800px) {
    font-size: 40px;
  }

  @media (max-width: 650px) {
    font-size: 30px;
  }

  @media (max-width: 480px) {
    font-size: 22px;
  }
}

.hero__title,
.hero__description {
  margin: 0;
}

.hero__description {
  font-size: 22px;
  color: #cccccc;
  animation: description 0.6s ease-in forwards;

  @media (max-width: 650px) {
    font-size: 17px;
  }

  @media (max-width: 480px) {
    font-size: 13px;
  }
}

.hero__button {
  background-color: #3aa7f6;
  color: black;
  padding: 19px 35px;
  border-radius: 30px;
  box-shadow: 0px 0px 11px 12px rgba(29, 161, 255, 0);
  transition: box-shadow 0.3s linear;
  border: none;
  font-size: 15px;
  font-weight: 700;
  animation: button 0.6s ease-in forwards;
}

.hero__button:focus-visible,
.hero__button:hover {
  box-shadow: 0px 0px 11px 12px rgba(29, 161, 255, 0.5);
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-30vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes description {
  0% {
    opacity: 0;
    transform: translateX(30vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button {
  0% {
    opacity: 0;
    transform: translateX(-30vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
