body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

footer {
  flex-shrink: 0; /* Футер не сжимается */
}